.input {
  margin-right: 20px;
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgb(13, 125, 56);
  font-size: 16px;
  padding-left: 10px;
  margin-top: 80px;
}

.btn {
  background-color: rgb(13, 125, 56);
  border-color: black;
  color: black;
}

.btn:hover {
  color: #1d95b7;
  background-color: rgb(90, 211, 110);
}
